@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --text--color: #d7d7d7;
  --primary-color: #2c2c2c;
  --secondary-color: #252525;
}

body {
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
  background-color: #0f0f0f;
  color: var(--text--color);
  overflow: hidden;
}

.calculator-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  text-align: right;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 1rem;
}

.former-input {
  height: 2rem;
  font-size: 1.2rem;
}

.current-input {
  height: 4rem;
  font-size: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 4.5rem);
  grid-template-rows: repeat(4, 4.5rem);
  place-content: center;
  grid-gap: 1rem;
}

.grid-item {
  border: none;
  background-color: var(--primary-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text--color);
}

.operator {
  background-color: #da7b06;
}

.history {
  display: none;
}

@media only screen and (min-width: 600px) {
  .calculator-container {
    width: 100vw;
    gap: 2rem;
  }

  .history {
    width: 20%;
    height: 30rem;
    font-size: 1rem;
    text-align: left;
    display: block;
    overflow-y: auto;
  }

  .history-item {
    transition: 2s all ease-in-out;
    margin-bottom: 5rem;
    color: red;
  }
}

@media only screen and (min-width: 1000px) {
  .calculator-container {
    gap: 6rem;
  }

  .input-field {
    margin-bottom: 2rem;
  }

  .grid-container {
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(4, 5rem);
    grid-gap: 1.5rem;
  }

  .history {
    height: 35rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .calculator {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-height: 510px) {
  .calculator-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .input-field {
    width: 10rem;
    margin-bottom: 0;
  }

  .history {
    display: none;
  }
}
